.rectangle {
    position: absolute;
    width: 227px;
    height: 900px;
    left: 0px;
    top: -1px;
    background: #3682F4;
}
h1 {
    margin: 0;
    padding-left: 250px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #000000;
}
main h1 {
    margin-top: 20px;
}

h1:first-child {
    margin-bottom: -20px; 
}

h1:last-child {
    font-weight: 900; /* Makes the last h1 element bold */
    font-size: 64px; 
}
body {
    background-color: #E2E3E6;
}
.card-spacing-first {
    margin-left: 50px;
}
.card-spacing-second {
    margin-left: -100px; 
}
.my-card {
    border: 2px solid blue; /* Adds a blue outline */
}
