/* Add padding to the top of the main content */
main {
    padding-top: 20px;
}

/* Styles for all cards */
.card {
    border: 2px solid #3682F4; /* Adds a blue outline */
    border-radius: 15px; /* Rounds the corners of the card */
}

h1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 108px;
    color: #000000;
}
body {
    font-family: 'Catamaran';
    font-style: normal;
    background-color: #E2E3E6; /* Background color for the whole page */
}