main {
    padding-top: 20px;
}

.card {
    border: 2px solid #3682F4; 
    border-radius: 15px; 
}

h1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 108px;
    color: #000000;
}
body {
    font-family: 'Catamaran';
    font-style: normal;
    background-color: #FFFFFF;
}

.button-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) { 
    .button-container {
        flex-direction: row; 
    }
    .button-container > button {
        margin-right: 20px;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    gap: 20px;
}

h1 {
    margin: 0;
}

.search-bar {
    padding: 6px 12px;
    font-size: 1rem;
    border: 2px solid #3682F4;
    border-radius: 20px;
    align-self: center;
    width: 100%;
}

.btn-search {
    padding: 6px 12px;
    font-size: 1rem;
    background-color: #3682F4;
    color: white;
    border: 2px solid #FFFF00;
    border-radius: 20px;
    width: 100%; 
}

.search-container {
    width: 70%;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.search-container input[type="text"] {
    width: 58%;
    padding: 10px;
    border: 2px solid #DDE2E5;
    border-radius: 25px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.search-container button:hover {
    background-color: #464646;
}